templates/SevExt2018.xsd

<xs:schema xmlns:tns="http://www.eos.ru/2010/sev/Ext2018" elementFormDefault="qualified" targetNamespace="http://www.eos.ru/2010/sev/Ext2018" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ProjectRegistrationSubscription">
		<xs:complexType>
			<xs:attribute name="Include" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="ProjectRegistrationNotification">
		<xs:complexType>
			<xs:attribute name="DocumentID" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
